@import './helpers.scss';
@import './colors.scss';
@import './include-media.scss';
@import './nav.scss';
@import './profile-panel.scss';
@import './course-list.scss';

body {
  font-family: 'Roboto Condensed',arial,sans-serif;
  background-color: #F3F7FD;
}

.home-container {
  margin-top: 7em;
}

.slick-next::before {
  color: black;
}

.slick-prev::before {
  color: black;
}
