$red: #e74c3c;
$dark-red: #c0392b;
$watermelon: #ef717a;
$dark-watermelon: #F62459;

$orange: #fc6e51;//#e67e22;
$dark-orange: #d35400;
$yellow: #ffcd02;
$dark-yellow: #ffa800;

$blue: #4f99e2;
$dark-blue: #394c81;
$skyblue: #5bc0de;
$dark-skyblue: #2980b9;
$navyblue: #34495e;
$dark-navyblue: #262830;
$light-blue: #91e0e0;

$green: #82b440;
$dark-green: #6cb100;
$mint: #1abc9c;
$dark-mint: #16a085;
$teal: #3a6f81;
$dark-teal: #356272;

$pink: #f47cc3;
$dark-pink: #d45c9e;
$purple: #745ec5;
$light-purple: #A197C8;
$dark-purple: #5b48a2;
$magenta: #9b59b6;
$dark-magenta: #8e44ad;

$black: #111;
$dark-black: #262626;
$brown: #a38671;
$dark-brown: #8e725e;

$grey: #767678;
$light-grey: #f6f8fa;
$white: #fff;
$dark-white: #eff0f2;
$default: $skyblue;

$twitter: #4099ff;
$facebook: #4467ad;
$google: #ff4b4b;
$instagram: #6e99b2;

$alert-success: #3c763d;
$alert-info: #31708f;
$alert-warning: #8a6d3b;
$alert-danger: #d9534f